# Based on /usr/lib/systemd/system/debug-shell.service
[Unit]
Description=The Apache HTTP Server answering password requests
DefaultDependencies=no
AllowIsolate=no
IgnoreOnIsolate=yes
Before=cryptsetup.target
After=systemd-networkd.service

[Service]
Type=simple
Environment=LANG=C
ExecStartPre=/usr/bin/mkdir -p /run/ihttpd /run/ihttpd/log
ExecStart=/usr/sbin/ihttpd -DFOREGROUND
KillSignal=SIGWINCH
KillMode=mixed
PIDFile=/run/ihttpd/ihttpd.pid

[Install]
WantedBy=sysinit.target
