# Based on /usr/lib/systemd/system/debug-shell.service
[Unit]
Description=Spawn apache ihttpd server to answer password requests
DefaultDependencies=no
AllowIsolate=no
IgnoreOnIsolate=yes

[Service]
Type=simple
Environment=LANG=C
ExecStart=/usr/sbin/ihttpd -DFOREGROUND
KillSignal=SIGWINCH
KillMode=mixed
PIDFile=/run/ihttpd/ihttpd.pid

[Install]
WantedBy=sysinit.target
